{% extends "base.html" %}

{% block title %}Restaura tu clave{% endblock %}


{% block content %}

<div id="content" class="wrapper container_12 clearFix">


  <div class="grid_9">

    <div class="sectionHead">
      <h2 class="strong">Password reset</h2>
      <p>Haz olvidado tu clave? Ingresa tu correo electronico,
      y nosotros restauraremos tu clave.</p>
    </div>

    <form class="horizForm grayPanel" method="POST" action=".">{% csrf_token %}
      <fieldset class="content">
        {% for field in form %}
              <div class="item clearFix row {% if field.errors %} rowError {% endif %} {% if field.required %} required {% endif %}">
               <label class="text" for="{{ field.label }}">{{ field.label }} :</label>
            <div class="fieldInput">
              {{field}}
              {% if field.errors %}{{field.errors}}{% endif %}
            </div>
            </div>
          {% endfor %}

            <div class="item action clearFix">
          <button class="button" type="submit" name="Submit">Restaurar Clave</button>
          <p> <br>
            <span>Ya estas registrado?</span>
            <a href='{% "url account_login" %}'>Ingresa aqui</a>
          </p>
            </div>
      </fieldset>

    </form>
  </div>

</div>

{% endblock %}
