@charset "utf-8";
/* CSS Document */


/* ----------------- BROWSER RESET ----------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, label, legend, {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 font-size: 100%;
 vertical-align: baseline;
 background: transparent;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* ----------------- GENERALES ----------------- */

body {
	font: 62.5% Arial, Helvetica, sans-serif;
	color: #000;
	background: #FFF;
	margin-left: 100px;
}
a {
	font: 1.2em Arial, Helvetica, sans-serif;
	color:#248FB5;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #333333;
}
:focus {
	outline: none;
}
ul {
	list-style-type: none;
}
li {
	font-size: 1.1em;
}
input, select, textarea {
	font: 11px Arial, Helvetica, sans-serif;
}

/* ----------------- FOOTER ----------------- */

#footer {
	height:130px;
	padding: 30px 0 0 0;
	display:block;
}
#footer .foot-nav {
	float:left;
	margin-top:60px;
}
#footer .foot-nav ul, #footer .foot-nav p {
	clear:both;
	position:relative;
	display:block;
}
#footer .foot-nav ul {
	margin:10px;
}
#footer .foot-nav ul li {
	float:left;
	height:20px;
 *height:10px;
}
#footer .foot-nav ul li a {
	padding:0 6px;
	font: 1em Arial, Helvetica, sans-serif;
	color: #333333;
	text-decoration:none;
}
#footer .foot-nav ul li a:hover {
	font: 1em Arial, Helvetica, sans-serif;
	color: #248FB5;
	text-decoration:none;
}
#footer .foot-nav p {
	margin:16px;
	height:20px;
	font: 0.9em Arial, Helvetica, sans-serif;
}

/* ----------------- ESTRUCTURA ----------------- */
 body {
	margin:auto;
	padding:0;
	background-color:#FFFFFF;
	margin-left: 100px;
}
#container {
	width:958px;
	margin:auto;
	border: solid 1px #ACD1CB;
	border-top: solid 4px #248FB5;

}
#header, #content, #footer {
	padding:0;
	margin:0;
	clear:both;
}
#header {
	height:100px;
}
#content {
	width:958px;
	clear:both;
	min-height:400px;
	overflow:hidden;
}

/* ----------------- HEADER ----------------- */

#header .logo {
	float: left;
	width:213px;
	height:100px;
}
#header .logo a {
	width:213px;
	height:95px;
	text-indent: -999em;
	display:block;
}
#header .navegation {
	float: right;
	width:720px;
}
#header .navegation ul {
	clear:both;
}
#header .navegation ul.nav-menu li {
	float:right;
	margin: 16px 33px 0 0;
	height:13px;
}
#header .navegation ul.nav-menu li a {
	text-transform:uppercase;
	font-size: 1.1em;
	font-weight: bolder;
}
#header .navegation ul.menu {
	margin-right: 8px;
}
#header .navegation ul.menu li {
	float:right;
	margin: 28px 25px 0 0;
}
#header .navegation ul.menu li a {
	text-transform:uppercase;
	font-size: 1.1em;
	height:26px;
	font-weight: bolder;
	text-indent: -999em;
	display:block;

/* ---------------- CONTENT - HOME ----------------- */
.boxes {
	width:958px;
	float:left;
	margin:0;
	padding:0;
}
.boxes-expert {
	margin-top:-12px;
	width:958px;
	float:left;
	margin:0;
	padding:0;
}
.box {
	width:319px;
	height:380px;
	display:block;
	float:left;
	margin:0;
}
.box .inside {
	margin: 12px 17px 15px 14px;
}
.box h2 {
	height:34px;
	width:258px;
	font:1.6em bold Arial, Helvetica, sans-serif;
	color:#000000;
	border-bottom: 1px solid #8C8C8C;
	padding:14px 0 0 30px;
}
.box h2 span {
	color:#ED1E79;
}
.box p {
	width:258px;
	font:1.1em bold Arial, Helvetica, sans-serif;
	color:#000000;
	margin: 25px 10px 10px 16px;
	clear:both;
}
/* ----------------- CONTENT - General ----------------- */
.section {
	width:958px;
	height:180px;
	margin:0 0 15px 0;
	padding:0;
}
.section h1, .section p {
	float:left;
}
.section h1 {
	width:580px;
	margin:auto;
	font: 3.0em bold Arial, Helvetica, sans-serif;
	color:#248fb5;
	display:block;
	margin:30px 0 0 30px;
}
.section p {
	width:580px;
	font: 2em italic Arial, Helvetica, sans-serif;
	font-style:italic;
	color:#000;
	margin:20px 0 0 30px;
}
.section img {
	#width:340px;
	#height:380px;
	float:right;
	z-index:100;
	position:relative;
	margin:0;
	padding:0;
}
.column {
	width:300px;
	float:right;
	margin:0;
 *margin:50px 0 0 0;
}
.content-general {
	width:958px;
	margin:auto;
}


/* ----------------- PURCHASE ----------------- */
.purchase {
	margin: 20px 10px 10px 10px;
	clear:both;
	font-size:1.2em;
}

.purchase-price {
	margin: 20px 10px 10px 10px;
	clear:both;
	text-align:center;
	font-size:2.2em;
}

.purchase-paypal {
	position:relative;
	z-index:10;
	vertical-align:bottom;
	top:280px;
	right:20px;
	float:right;
}

/* ----------------- CONTENT - Help ----------------- */

.main ul li {
	padding-left: 10px;
	margin-bottom: 7px;
	color:#000000;
	font:1.3em Arial, Helvetica, sans-serif;
}
.main ol li {
	list-style: decimal;
	margin-left: 20px;
	margin-bottom: 7px;
	color: #d4149a;
	font:1.3em Arial, Helvetica, sans-serif;
}
.main ol li span {
	color:#000000;
	font:1.3em Arial, Helvetica, sans-serif;

}
.main a {
	color: #d4149a;
	font:1.0em Arial, Helvetica, sans-serif;
}
.main a:hover {
	color: #ED1E79;
	font:1.0em Arial, Helvetica, sans-serif;
}
.boxDestacado .txtDestacado {
	width:580px;
	font:2.19em Arial, Helvetica, sans-serif;
	color:#000;
	height:237px;
	display:block;
	font-style:italic;
	font-weight:lighter;
	margin:35px 0 0 20px;
}
.main {
	width:578px;
	margin-left:100px;
}
.main h1 {
	width:580px;
	margin:auto;
	font: 3.0em bold Arial, Helvetica, sans-serif;
	color:#248fb5;
	display:block;
	margin:30px 0 0 15px;
}
.main h2 {
	height:30px;
	width:500px;
	font:1.5em bold Arial, Helvetica, sans-serif;
	padding:15px 0 0 35px;
	margin: 0 0 0 0;
}
.main h2 span {
	color:#ED1E79;
}
.main p {
	width:600px;
	font:1.3em Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#808080;
	padding-left: 35px;
	text-decoration:none;
	margin:10px 0 10px 0;
}
.main h3 {
	color:#ED1E79;
	font:1.6em bold Arial, Helvetica, sans-serif;
	padding-left: 35px;
	margin: 0 0 10px 0;
}
.main p.black {
	color:#000000;
	font:1.2em Arial, Helvetica, sans-serif;
	padding-left: 40px;
	margin-top:0;
	line-height:18px;
}
.main img {
	border:1px solid #7e7e7f;
	padding:7px;
	margin-top:15px;
}
.boxright {
	width:320px;
	float:right;
	padding:0;
}
.boxright h4 {
	height:24px;
	width:298px;
	margin:18px 0 10px 0;
	padding:5px 0 0 43px;
	font-size:1.4em;
	font-weight:bold;
	background-color:#c3e8fb;
}
.boxright span {
	color:#ED1E79;
}
.boxright p {
	width:280px;
	font-size:1.2em;
	color:#000;
	text-decoration:none;
	margin:0px 0 10px 45px;
	#line-height:14px;
}
.boxright img {
	clear:both;
	margin:0 50px 10px  40px;
	float:left;
}
.boxright a {
	color:#248FB5;
	text-decoration: none;
	font-size:1.1em;
	font-weight:bold;
	float:right;
	margin:6px;
	clear:both;
}
.boxright a:hover {
	color:#333;
}
/* ----------------- CONTENT - Table- forms ----------------- */


.tf-container {
	margin:auto;
	width:632px;
}
.tf-top {
	width:632px;
	height:20px;
}
.tf-content {
	margin:auto;
	width:632px;
}
.tf-bottom {
	width:632px;
	height:6px;
}

/*
	table
*/
table {
	width:558px;
	margin:auto;
	background:#eaeded;
	border-collapse:collapse;
	color:#fff;
	padding-bottom:10px;
}
td, th {
	font: 1.3em Arial, Helvetica, sans-serif;
	color:#757575;
	padding:.4em;
	height:32px;
}
tr {
	border:7px solid #FFF;
}
thead th {
	font: 1.5em Arial, Helvetica, sans-serif;
	color:#FFF;
	padding:5px 10px 3px 10px;
	text-align:left;
}
tbody td a {
	color:#363636;
	text-decoration:none;
}
tbody td a:visited {
	color:#d3d3d3;
	text-decoration:line-through;
}
tbody td a:hover {
	text-decoration:underline;
}
tbody th a {
	color:#363636;
	font-weight:normal;
	text-decoration:none;
}
tbody th a:hover {
	color:#363636;
}
tbody td+td+td+td a {
	background-position:left center;
	background-repeat:no-repeat;
	color:#03476F;
	padding-left:15px;
}
tbody td+td+td+td a:visited {
	background-position:left center;
	background-repeat:no-repeat;
}
tbody th, tbody td {
	text-align:left;
	vertical-align:top;
}
tfoot td {
	background:#d3d3d3;
	height:22px;
	color:#FFFFFF;
	padding-top:3px;
}
.odd {
	background:#fff;
}
tbody tr:hover {
	background:#d3d3d3;
	color:#000000;
}

/*
	form
*/

h2.legend {
	width:100%;
	margin:0;
	padding:0;
	height:32px;
	color:#FFFFFF;
	text-indent:20px;
	line-height:30px;
	font-size:1.3em;
	display:block;
}

fieldset {
	width:558px;
	margin:auto;
	border:0;
	padding:0;
	background-color:#f0f3f3;
}


.white {
	height:8px;
	background-color:#FFFFFF;
	width:578px;
	clear:both;
	display:block;
	padding:0;
	margin:0;
}

form span{
	color:#248fb5;
	font-weight:bold;
	display:block;
	float:left;
	line-height:30px;
}

form span a{
    text-decoration: none;
    color:#72727e;
    font-weight:bold;
    font-size:10px;
}

label {
	font: 1.2em bold Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#72727e;
	width:200px;
	display:block;
	float:left;
	margin:6px;
	padding-left:50px;
}

label.l2 {
	width:500px;

}

.error{
    font: 0.9em bold Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#72727e;
    width:200px;
    display:block;
    float:center;
    margin:6px;
    padding-left:220px;
}

.message{
    color:#248fb5;
    font-weight:bold;
    display:block;
    float:left;
    padding-left:270px;
}

textarea, select, input {
	float: left;

	margin:6px;
}

textarea {
	border: 1px solid #7f9db9;
}
textarea:focus, input[type="text"]:focus ,input[type="password"]:focus{
	border: 2px solid #7f9db9;
	width:265px;
}
select[type="select-one"] {
	border: 1px solid #7f9db9;
	height:18px;
	background-color: #fff;
	font-family: #3d3b4c Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	width:265px;

}
select[type="select-multiple"] {
	border: 1px solid #7f9db9;
	height:100px;
	background-color: #fff;
	font-family: #3d3b4c Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	width:265px;

}
input[type="text"], input[type="password"] {
	border: 1px solid #7f9db9;
	height:18px;
	background-color: #fff;
	font: 1.1em #3d3b4c Arial, Helvetica, sans-serif;
	width:265px;
}
input[type="submit"] {
	color: #000;
	width:117px;
	height:28px;
	border:0;
}
input[type="checkbox"], input[type="radio"] {
	color: #000;
	background-color:#f0f3f3;
	width:20px;
	float:left;
	line-height: 20px;

}

option {
	background-color:#fff;
	color:#000;
}
optgroup {
	background-color:#ccc;
	color:#000;
}
button {
	background-color: #ccc;
	color: #333;
}

