{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <link href="{{ MEDIA_URL }}css/tinapay.css" rel="stylesheet" type="text/css" media="screen" />

  {% block styles %} {% endblock %}
  <title>MiCambio | {% block title %} Publica, Oferta, Intercambia. Gratis!{% endblock %} </title>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17941823-1']);
    _gaq.push(['_setDomainName', '.micambio.com.ar']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jcarousellite_1.0.1.min.js"></script>

  <!-- Optional -->
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.easing.1.1.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.mousewheel.min.js"></script>

  <script type="text/javascript">
    $(function() {
        $(".screenieCarousel").jCarouselLite({
            btnNext: ".next",
            btnPrev: ".prev"
        });
    });
  </script>

  {% block scripts %} {% endblock %}

</head>


<body>

  <div id="main">

    <div id="mast" class="wrapper container_12 clearFix">
      <div class="grid_12">
        {% block logo %}
        <h1 id="logo" class="alignLeft">
          <a href="/"  class="setBlock">
            <img  class="setBlock" src="{{ MEDIA_URL }}images/logo.png" alt="TinaPay">
          </a>
        </h1>
        {% endblock %}

        {% block menu %}
 
        <ul id="mainNav"  class="alignRight clearFix">
          <li><a href="{% url account_register %}">{% trans "SignIn"%}</a></li>
          <li><a href="{% url account_login %}">{% trans "LogIn"%}</a></li>
        </ul>


        {% endblock %}
      </div> <!-- end .grid_12 -->
    </div><!-- end #mast -->


    {% block content %}{% endblock %}
  </div> <!-- end #main  -->


  <div id="footer">
    <div class="ribbon">
      <div class="wrapper container_12 clearFix">
        <div class="grid_12">

          <div class="clearFix">
            <div class="alignLeft">
              <ul class="colophon clearFix">
                <li class="alpha">
                                <a href="{% url privacy%}">Politica de Privacidad</a>
                </li>
                <li>
                                <a href="{% url tos %}">Terminos del Servicio</a>
                </li>
                                <!--
                <li>
                  <a href="http://blog.tinapay.com">Blog</a>
                </li>
                                -->
                <li>
                                <a href="{% url contact %}">Contacto</a>
                </li>
              </ul> <!-- end .colophon -->
                        </div>
            <div class="alignRight">
            </div>
          </div>
          <div class="clearFix love">
          </div>
        </div> <!-- end .grid_12 -->
      </div><!-- end .wrapper -->
    </div><!-- end .ribbon -->
  </div><!-- end #footer -->

</body>

</html>
