{% extends "base.html" %}
{% load i18n %}

{% block title %}Privacidad{% endblock %}


{% block content %}
<div id="content" class="container_12 clearFix">
  <div class="grid_12">
        <h2 class="strong">Privacidad</h2><br/>

        <p>Intercambio Inc. "Intercambio.com" se compromete a proteger la privacidad de quienes visitan el sitio web Intercambio.com y utilizar el Servicio Tinapay (el "Servicio"). Modificaciones a esta declaración se publicará en la siguiente dirección y será efectiva cuando se publiquen. El uso continuado de este sitio después de la publicación de cualquier enmienda, modificación o cambio constituirá su aceptación de la enmienda. Vamos a notificar a la primaria Intercambio titular de la cuenta de servicio por correo electrónico cuando se realizan cambios significativos a la política de privacidad</p>

        <p>Recopilamos las direcciones de correo electrónico de aquellos que se comunican con nosotros por correo electrónico, información sobre el acceso a las páginas de los consumidores en el sitio web Tinapay, y la información proporcionada voluntariamente por el consumidor (por ejemplo, rellenar una encuesta o formulario de registro de servicios). Los tipos de información que puede ser solicitado incluir su nombre, razón social, domicilio, teléfono, e información de tarjeta de crédito.</p>

        <p>a información que recogemos se utiliza para mejorar la calidad de la página web Tinapay y servicio, para comunicar la información sobre el Servicio Tinapay, para facturar a su cuenta por servicios prestados, para la investigación, y en contacto con usted acerca de su cuenta cuando sea necesario. Su información nunca será vendida o compartida con otras compañías u organizaciones con fines comerciales.</p>

        <h3>Uso de Cookies</h3>

        <p>Al utilizar el Servicio Intercambio podemos almacenar alguna información en su ordenador. Esta información será en forma de una "cookie" o archivo similar. Las cookies son pequeñas piezas de información almacenada en su disco duro, no en el sitio web Itercambio. No utilizamos cookies para espiar a usted o no invadir su privacidad. No puede invadir el disco duro y robar información.</p>

        <p>Nosotros utilizamos cookies para ayudarle a navegar el sitio web Tinapay y servicio tan fácilmente como sea posible, y para recordar la información acerca de su actual período de sesiones. Debe habilitar las cookies en tu navegador para poder usar el Servicio de Itercambio.</p>

        <h3>Seguridad y Almacenamiento</h3>

        <p>El sitio web Tinapay y el Servicio cuenta con medidas estándar de la industria de seguridad para proteger la pérdida, mal uso y alteración de la información bajo nuestro control. Si bien no hay tal cosa como la "seguridad perfecta" en Internet, tomaremos todas las medidas razonables para asegurar la seguridad de su información.</p>

        <p>Además, usted conserva todos los derechos de propiedad a los datos que tiene almacenados en el Servicio de Tinapay. No vamos a vender o compartir esta información con terceros o utilizar estos datos para competir con usted o con publicidad a sus clientes. Su privacidad y la privacidad de sus clientes son de suma importancia para nosotros.</p>

        <h3>Correcciones y Actualizaciones</h3>

        <p>Laboratorios Caritos permite a los consumidores que utilicen el Servicio Tinapay de actualizar o modificar su información haciendo clic en el enlace Cuenta en el menú de navegación Tinapay.</p>

        <h3>Ponerse en contacto con los laboratorios Caritos</h3>

        <p>Si usted tiene alguna pregunta sobre esta declaración de privacidad o su trato con el sitio web Tinapay, puede contactar con nosotros en el <span class="strong">soporte de Tinapay dot com</span>.</p>
  </div>
</div>
{% endblock %}
