{% extends "base.html" %}
{% load i18n %}

{% block title %}Terms of Service{% endblock %}


{% block content %}
<div id="content" class="container_12 clearFix">
  <div class="grid_12">
    <h2 class="strong">Condiciones del servicio</h2>

    <p>Caritos Inc. ("Caritos") proporciona Tinapay.com y sus servicios asociados (el "Servicio") sujeto a su cumplimiento withe los términos y condiciones ("Términos de Servicio") se establece a continuación. Please read the following carefully. Por favor, lea cuidadosamente lo siguiente.</p>

    <p>Laboratorios Caritos se reserva el derecho de actualizar y modificar los Términos de Servicio en cualquier momento sin previo aviso. New features that may be added to the Service shall be subject to the Terms of Service. Las nuevas características que pueden añadirse al Servicio estará sujeto a las Condiciones del servicio. Should you continue to use the Service after any such modifications have been made, this shall constitute your agreement to such modifications.  En caso de seguir utilizando el Servicio después de dichas modificaciones se han hecho, esto constituirá su aceptación a dichas modificaciones. You may always view the most recent copy of the Terms of Service here: http://tinapay.com/terms-of-service/ Siempre se puede ver la copia más reciente de las Condiciones de Servicio aquí: http://intercambio.com/terms-of-service/</p>
    <p> La violación de cualquiera parte de las Condiciones del servicio dará lugar a la cancelación de su cuenta.</p>

    <h3>Términos de la cuenta</h3>
    <ol>
      <li>Usted debe tener 13 años o más para utilizar este servicio.</li>
      <li>Usted debe proporcionar su nombre legal completo, una dirección válida de correo electrónico, y cualquier otra información necesaria para completar el proceso de registro.</li>

      <li>Usted es responsable de mantener la privacidad y seguridad de su cuenta. Caritos Design will not be held liable for any damage or loss that may result from your failure to protect your login information, including your password. Caritos Design no se hace responsable de los daños o pérdidas que puedan derivarse de su incumplimiento a proteger su información de acceso, incluyendo su contraseña.</li>

      <li>Caritos puede comunicarse con usted por correo electrónico sobre su cuenta, actualizaciones del sistema, u otros asuntos relacionados con su cuenta.</li>

      <li>Caritos puede negar el servicio a cualquier persona por cualquier razón en cualquier momento.</li>
    </ol>

    <h3>El pago y el acceso</h3>
    <ol>
      <li>El acceso es gratis, Intercambio.com puede en un futuro agregar planes pagos, pero esto no modificaria su cuenta.</li>
    </ol>

    <h3>Modificaciones al Servicio y Tarifas</h3>
    <ol>
      <li>Caritos Labs reserves the right to modify, suspend, or discontinue the Service at any time for any reason with or without notice. Laboratorios Caritos se reserva el derecho de modificar, suspender o interrumpir el Servicio en cualquier momento y por cualquier motivo con o sin previo aviso.</li>
     </ol>
    <h3>Cancelación y Terminación</h3>
    <ol>
      <li>Usted es el único responsable de la cancelación apropiado de su cuenta. You may cancel your account at any time by clicking on the Account link in the Service's navigation menu. Usted puede cancelar su cuenta en cualquier momento haciendo clic en el enlace Cuenta en el menú de navegación del Servicio. The Account screen provides a simple link to cancel your account. La pantalla cuenta proporciona un simple enlace para cancelar su cuenta. Email or phone requests to cancel your account will not be deemed cancellation. peticiones de correo electrónico o teléfono para cancelar su cuenta no se considerará cancelación.</li>
      <li>Your account and all of its Content will be deleted immediately upon your cancellation of the Service.</li>
      <li>You can cancel at any time, but you will remain liable for all charges accrued up to that time, including full monthly charges for the month which you discontinued service. You will not be charged again.</li>
    </ol>
    <h3>Copyright and Ownership</h3>
    <ol>
      <li>Caritos Labs or its suppliers own the intellectual property rights to any and all protectable components of the Service, including but not limited to the name of the Service, artwork and end-user interface elements contained within the Service, many of the individual features, and the related documentation. You may not copy, modify, adapt, reproduce, distribute, reverse engineer, decompile, or dissemble any aspect of the Service which Caritos Labs or its suppliers own.</li>
      <li>Caritos Labs claims no intellectual property rights over the Content you upload or provide to the Service. However, by using the Service to send Content, you agree that others may view and share your Content.</li>
    </ol>

    <h3>General Conditions</h3>
    <ol>
      <li>Your use of the Service, including any content, information or functionality contained within it, is provided ‚Äúas is‚Äù and ‚Äúas available‚Äù with no representations or warranties of any kind, either expressed or implied, including but not limited to, the implied warranties of merchantability, fitness for a particular purpose, and non-infringement. You assume total responsibility and risk for your use of this Service.</li>
      <li>You agree not to resell, duplicate, reproduce or exploit any part of the Service without the express written permission of Caritos Labs.</li>
      <li>You may not use the service to store, host, or send unsolicited email (spam) or SMS messages.</li>
      <li>You understand that the Service can be used for transmission of your Content, and that during processing, your Content, including invoices, payment reminders, and personal messages, may be transferred unencrypted over the internet.</li>
      <li>You may not use the service to transmit any viruses, worms, or malicious content.</li>
      <li>Caritos Labs makes no warranties regarding (i) your ability to use the Service, (ii) your satisfaction with the Service, (iii) that the Service will be available at all times, uninterrupted, and error-free (iv), the accuracy of mathematical calculations performed by the Service, and (v) that bugs or errors in the Service will be corrected.</li>
      <li>Caritos Labs, its affiliates and its sponsors are neither responsible nor liable for any direct, indirect, incidental, consequential, special, exemplary, punitive or other damages arising out of or relating in any way to your use of the Service. Your sole remedy for dissatisfaction with the Service is to stop using the Service.</li>
      <li>If any provision of the Terms of Service is held invalid or otherwise unenforceable, the enforceability of the remaining provisions shall not be impaired thereby.</li>
      <li>The failure of Caritos Labs to exercise any right provided for herein shall not be deemed a waiver of any right hereunder. The Terms of Service sets forth the entire understanding between you and Caritos Labs as to the Service and supercedes any prior agreements between you and Caritos Labs (including, but not limited to, prior versions of the Terms of Service).</li>
      <li>Any questions regarding the Terms of Service should be addressed to support at tinapay dot com.</li>
    </ol>

  </div>
</div>
{% endblock %}
