{% load i18n thumbnail %}

<table class="genericTable draftInvoices">
  <caption>{% trans "My Products" %}</caption>

  <col width="130px">
  <col width="125px">
  <col width="100px">
  <col width="300px">

  <thead>
    <tr>
      <th>{% trans "Date Published" %}</th>
      <th>{% trans "Image" %}</th>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Description" %}</th>
    </tr>
  </thead>
  <tbody>
    {% if member.my_products.all %}
      {% for mp in  member.my_products.all %}
      {% if mp.product.active %}
        <tr onclick=" document.location= '{% url product_edit mp.product.slug  %}'">
          <td scope="row" id="r101">{{mp.product.update_time|date:"d M Y"}}</td>
          {% thumbnail mp.product.image 140x190 as thumb %}
          <td><img src="{{thumb}}" width="{{thumb.widht}}" height="{{thumb.height}}" alt="image" /></td>
          <td>{{mp.product.name}}</td>
          <td>{{mp.product.description}}</td>
        </tr>
        {% endif %}
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="4"  class="textCenter">{% trans "There are no items yet." %}</td>
      </tr>
    {% endif %}
  </tbody>
</table>

<table class="genericTable pastInvoices">
  <caption>{% trans "Offers Made"%}</caption>

  <col width="130px">
  <col width="125px">
  <col width="300px">
  <col width="100px">

  <thead>
    <tr>
      <th>Date Due / Declined</th>
      <th>ID / Title</th>
      <th>Client Name</th>
      <th>Amount Due</th>
    </tr>
  </thead>
  <tbody>
    {% if declined %}
      {% for invoice in declined %}
        <tr onclick=" document.location= '{% url invoice_detail company.name invoice.id %}'" >
          <td scope="row" id="r101">{{invoice.invoice_date|date:"d M Y"}}</td>
          <td>{{invoice.name}}</td>
          <td>{{invoice.client.name}}</td>
          <td>{{invoice.currency}} {{invoice.total}}</td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="4"  class="textCenter">There are no items yet.</td>
      </tr>
    {% endif %}
  </tbody>
</table>

<table class="genericTable openInvoices">
  <caption>{% trans "Recived Offers"%}</caption>

  <col width="130px">
  <col width="125px">
  <col width="300px">
  <col width="100px">

  <thead>
    <tr>
      <th>Date Created</th>
      <th>ID / Title</th>
      <th>Client Name</th>
      <th>Amount Due</th>
    </tr>
  </thead>
  <tbody>
    {% if open %}
      {% for invoice in open %}
        <tr onclick='document.location= {% url invoice_detail company.name invoice.id %}' >
          <td scope="row" id="r101">{{invoice.invoice_date|date:"d M Y"}}</td>
          <td>{{invoice.name}}</td>
          <td>{{invoice.client.name}}</td>
          <td>{{invoice.currency}} {{invoice.total}}</td>
        </tr>
      {% endfor %}
    {% else  %}
      <tr>
        <td colspan="4"  class="textCenter">There are no items yet.</td>
      </tr>
    {% endif %}
  </tbody>
</table>

<table class="genericTable approvedInvoices">
  <caption>{% trans "Completed Transactions" %}</caption>

  <col width="130px">
  <col width="125px">
  <col width="300px">
  <col width="100px">

  <thead>
    <tr>
      <th>Date Closed / Approved</th>
      <th>ID / Title</th>
      <th>Client Name</th>
      <th>{% trans "View" %}</th>
    </tr>
  </thead>
  <tbody>
    {% if closed  %}
      {% for invoice in closed %}
        <tr onclick='document.location= {% url invoice_detail company.name invoice.id %}'>
          <td scope="row" id="r101">{{invoice.invoice_date|date:"d M Y"}}</td>
          <td>{{invoice.name}}</td>
          <td>{{invoice.client.name}}</td>
          <td>{{invoice.currency}} {{invoice.total_paid}}</td>
        </tr>
      {% endfor %}
    {% else  %}
      <tr>
        <td colspan="4"  class="textCenter">There are no items yet.</td>
      </tr>
    {% endif %}
  </tbody>
</table>
