{% extends "admin/media/image/change_list.html" %}{% load adminmedia admin_list thumbnail tagging_tags %}

{% block extrahead %}
{{block.super}}

<style type="text/css" media="screen">
    .paginator .default { display: none; }
</style>
<script src="{{MEDIA_URL}}js/jquery/ui/ui.core.js" type="text/javascript" charset="utf-8"></script>
<script src="{{MEDIA_URL}}js/jquery/ui/ui.draggable.js" type="text/javascript" charset="utf-8"></script>
<script src="{{MEDIA_URL}}js/jquery/ui/ui.droppable.js" type="text/javascript" charset="utf-8"></script>
<script src="{{MEDIA_URL}}js/jquery/ui/ui.selectable.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
$(function() {
    $("li input.action-select").change(function() {
        var checked = $(this).attr("checked");        
        if (checked) {
            $(this).closest('li').addClass('ui-selected');
        } else {
            $(this).closest('li').removeClass('ui-selected');
        }
        var count = $('li input.action-select:checked').length;
	    $("span._acnt").html(count);
    }).change();

    $('#media-changelist').selectable({
        filter: 'li',
        cancel: 'a',
        distance: 5,
        stop: function(e, ui) {
            $('#media-changelist li.ui-selected').find('input.action-select').attr('checked', true).change();
            $('#media-changelist li:not(.ui-selected').find('input.action-select').attr('checked', false).change();
        }
    }).find('.icon').click(function() {
        // Toggle Selection State
        var $li = $(this).closest('li');
        if ($li.is('.ui-draggable-dragging')) return false;
        var $checkbox = $li.find('input.action-select').click().change();        
    });

    
    var initPos = false;
    var collection = false; 
    $('#media-changelist > li').draggable({
        revert: true, 
        handle: '.icon',
        delay: 100,
        cancel: 'a',
        cursor: 'move',
        cursorAt: {top: 20, left: 20},

        start: function(e, ui) {
            initPos = {
                x: parseInt(this.style.left || 0),
                y:parseInt(this.style.top || 0)
            };
            collection = jQuery('.ui-selected:visible').not(this)
                .addClass('ui-draggable-dragging');
            if (collection.length == 0) {                            
                    initPos = false;
                    collection = false;
            }
        },
        drag: function(e, ui) {
            if(collection) {
                var x = ui.position.left;
                var y = ui.position.top;
                collection.each(function() {
                    var l = parseInt(this.style.left || 0) + x - initPos.x;
                    var t = parseInt(this.style.top || 0) + y - initPos.y;
                    $(this).css({
                        left: l,
                        top: t
                    });
                });
                initPos = {x: x, y:y};
            }
        },
        revert: function(e) {
            if (collection) {
                var t = $('#media-changelist > li').draggable('option', 'revertDuration');
                collection.animate({
                    left: 0,
                    top: 0
                }, parseInt(t, 10));
            }
            return true;
        },
        stop : function(e,ui) {
            if (collection) {
                collection.css({
                    left: '',
                    top: ''
                }).removeClass('ui-draggable-dragging');
            }
            initPos = false;
            collection = false;
        } 
    });

    function add_tag(items, tag) {
        var post_url = '{% url admin:media_image_add_tag %}';
        var data = {
            'items': items,
            'tag': tag
        }
        $.post(post_url, data, function(id) {
            if (! /\d+/.test(id)) {
                alert("The tag you entered was invalid");
                window.location.reload();
            }
            else {
                window.location.href = '?related_tags__tag=' + id;
            }
        });
    }
    function remove_tag(items, tag) {
        var post_url = '{% url admin:media_image_remove_tag %}';
        var data = {
            'items': items,
            'tag': tag
        }
        $.post(post_url, data, function(id) {
            if (! /\d+/.test(id)) {
                alert("The tag you entered was invalid");
                window.location.reload();
            }
            else {
                window.location.href = '?related_tags__tag=' + id;
            }
        });
    }
    function remove_all_tags(items) {
        var post_url = '{% url admin:media_image_remove_all_tags %}';
        var data = {
            'items': items
        }
        $.post(post_url, data, function(id) {
            window.location.href = '?related_tags__tag=' + id;
        });
    }

    $('#imagetag-filter li.tag-filter').droppable({
        hoverClass: 'drop-hover',
        tolerance: 'pointer',

        drop: function(e,ui) {
            var droppable = $(this);
            var draggables = ui.draggable.add(ui.draggable.parent().find('.ui-draggable-dragging'));
            var items = $.map(draggables, function(item) {
                return item.id.replace(/image_/, '');
            });
            var tag = this.id.replace(/tag_/, '');

            if (droppable.is('.untagged')) {
                remove_all_tags(items);
            } else {
                add_tag(items, tag);
            }
            draggables.stop().css({visibility: 'hidden'});
        }
    });

    $('#mediatag-filter .tag-tools li').droppable({
        hoverClass: 'drop-hover',
        tolerance: 'pointer',

        drop: function(e,ui) {
            var droppable = $(this);
            var draggables = ui.draggable.add(ui.draggable.parent().find('.ui-draggable-dragging'));
            var items = $.map(draggables, function(item) {
                return item.id.replace(/image_/, '');
            });
            var tag;
            if (droppable.is('.remove-tag')) {
                tag = '{{selected_tag.name}}';
                remove_tag(items, tag);
            } else {
                tag = prompt("Tag:");
                if (!tag) return;
                add_tag(items, tag); 
            }
            draggables.stop().css({visibility: 'hidden'});
        }
    });

    $('#mediatag-filter .tag-tools .add-tag a').click(function() {
        var items = $.map($('.ui-selected'), function(item) {
            return item.id.replace(/image_/, '');
        });
        if (!items.length) {
            alert('Please select some images first.');
            return;
        }
        var tag = prompt('Tag:');
        if (!tag) return;
        add_tag(items, tag);
        return false;
    });

    $('#mediatag-filter .tag-tools .remove-tag a').click(function() {
        var items = $.map($('.ui-selected'), function(item) {
            return item.id.replace(/image_/, '');
        });
        if (!items.length) {
            alert('Please select some images first.');
            return;
        }
        var tag = '{{selected_tag.name}}';
        remove_tag(items, tag);
        return false;
    });

});
</script>
{% endblock %}

{% block bodyclass %}change-list collection-changelist{% endblock %}

      
{% block result_list %}
{% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}

{% tags_for_model media.Image as image_tags %}
<div id="mediatag-filter" class="">
<h3>Tags</h3>
<ul class="tag-tools">
    {% if selected_tag.id %}
    <li class="remove-tag"><a href="#">- remove tag</a></li> 
    {% endif %}
    <li class="add-tag"><a href="#">+ new tag</a></li> 
</ul>
<ul id="imagetag-filter" class="filter-list">
    <li class="{% if not selected_tag %}selected{% endif %}">
        <a href="?" class="filterlink">All Images</a>
    </li>
    {% if image_tags %}
    <li id="tag_0" class="tag-filter untagged {% ifequal selected_tag "0" %}selected{% endifequal %}">
        <a href="?related_tags__tag=0" class="tag untagged-tag filterlink">Untagged Images</a>
    </li>
    {% endif %}
    {% for tag in image_tags %}
    <li id="tag_{{tag.name}}" class="tag-filter{% ifequal selected_tag tag %} selected{%endifequal%}">
        <a href="?related_tags__tag={{tag.id}}" class="tag filterlink">{{tag}}</a>
    </li>
    {% endfor %}
</ul>
</div>

{% if cl.result_count %}
<ul id="media-changelist" class="changelist floatlist wrapper">
{% for image in cl.result_list %}
    <li id="image_{{image.id}}">
        <div class="icon"><img src="{% thumbnail image.filename 100x90 detail %}" alt="image: {{image.title}}" /></div>
        <strong><a href="{{image.id}}/" class="title">{{image.title}}</a></strong> <br/>
        <span>{{image.width}} x {{image.height}} px </span><br/>
        
        <input type="checkbox" name="_selected_action" value="{{image.id}}" class="action-select" style="display:none" />
    </li>
{% endfor %}
</ul>
{% else %}
<p id="media-changelist" class="wrapper">No images to display...</p>
{% endif %}

{% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
{% endblock %}
